name = "ksp-backend-api"
main = "src/index.ts"
compatibility_date = "2025-11-18"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

# Database binding (Cloudflare D1)
[[d1_databases]]
binding = "DB"
database_name = "kds-school-db"
database_id = "d293f4d0-fb4d-4f99-a45c-783fcd374a6e"
